/*添加最大最小的背景，防止变形*/
html,body,.section{
	min-height: 600px;
	min-width: 1000px;
	/*最小的宽度和高度 防止缩放过于变形*/
}

/*8个背景样式*/
#fp-nav ul li a span{
	background:#f40!important;
}
.next{
	position: fixed;
	bottom: 120px;
	right: 5%;
	z-index: 999;
}
/*第一屏幕制作 start*/
.section1{
	background: #fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}
.fly{
	position: absolute;/*子绝父相，插件自带*/
	right: 20%;
	top: 10%;
}
.goods{
	position: absolute;
	left: 50%;
	margin-left: -420px;
	bottom: 150px;
}
.shirt01{
	position: absolute;
	left: 50%;
	margin-left:-200px;
	bottom: 335px;

}
/*第一屏幕制作 end*/
/*第二屏幕制作 start*/
.section2{
	background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
	z-index: 2;/*层级为2，小沙发不会被压着*/
}
.computer{
	width: 990px;
	height: 500px;
	position: absolute;
	left: 50%;
	/*margin-left: 495px;*/
	transform: translateX(-50%);
	/*background-color: rgba(0,0,0,0.3);*/
	bottom: 0;
}
.search{
	width: 222px;
	height: 45px;
	background: url(../images/search.png) no-repeat;/*先进入到css文件夹，在进入到images里*/
    right: -30px;/*往同位置走是负*/
    bottom:300px;
    position: absolute;/*子绝父绝也可以*/
    display: none;
}  
.search-words{
	position: absolute;
	right: 32px;
	top: 5px;
	opacity: 0;/*因为我们后面做淡入淡出的效果，所以要用透明度，不要用display*/
} 
.search-02-1{
	position: absolute;
	bottom: 300px;
	right: 370px;
	display: none;/*这个不要淡入淡出，立马显示或隐藏*/

}
.goods-02{
	height: 100px;
	position: absolute;
	bottom: 217px;
	right: 270px;
	display: none;/*jquery里面show hide隐藏显示*/
}
.words-01,
.words-02{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);/*水平居中*/
	bottom: 550px;
}
.words-02{
	opacity: 0;
}
.shirt-02{
	position: absolute;
	bottom: 348px;
	left: 395px;
	width: 100px;
	display: none;
	z-index: 2;
}
/*白色盒子*/
.cover{
	position: absolute;
	bottom: 345px;
	right: 495px;
	width: 101px;
	height: 90px;
	z-index:5;
	background-color:#fff;
	display: none;
}
/*第二屏幕制作 end*/
/*第三屏幕制作 start*/
.section3{
    background: #ef674d;
    z-index: 1;
} 
.main{
	width: 700px;
	height: 500px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	/*background: rgba(205,135,100,1);*/
	background: url(../images/main.png) no-repeat center center;
}
.select{
	width: 300px;
	height: 250px;
	position: absolute;
	bottom: 0;
	right: 8px;
	/*background: pink;*/
}
.btn{
	position: absolute;
	bottom: 10px;
}
.img{
	position: absolute;
	top: 0;	
}
.img-01-a,
.btn-01-a{
opacity: 0;
}
/*沙发*//*倾斜沙发*/
.shirt-03,
.t1f{
	position: absolute;
	left: 115px;
	bottom: 200px;/*固定不固头*/
	display:none;

}
/*.t1f{
	z-index: 2;
}*/
/*第三屏幕制作 end*/

/*第四屏幕制作 start*/
.section4{
    background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;
} 
.cloud{
	position: absolute;
    left: 50%;
    bottom: 550px;
}
.word{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 500px;
}
.words-04-a{
	opacity: 0;
}
/*购物车加沙发*/
.car{
	width: 500px;
	position: absolute;
	/*background-color: pink;*/
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
}
.car-img{
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;/*负值往下叠加*/
	display: none;
}
.note{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: pink;
	bottom: 180px;
	display: none;
}
.note-img{
	position: absolute;
	top: 60px;
	left: 60px;
	opacity: 0;/*淡入淡出效果*/
}
/*第四屏幕制作 end*/

/*第五屏幕制作 start*/
.section5{
	-webkit-perspective:500;/*兼容性*/
	perspective: 500;/*透视效果给父盒子加*/
    background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);
    /*overflow: hidden;   /*鼠标和小手超出屏幕的部分隐藏*/
    z-index: 1;
}
.words-05{
	position: absolute;
	left: 20%;
	top:10%;
	opacity: 0;
}
.words-05-a{
	animation: words5 3s forwards;
	/*animation-fill-mode: forwards;/*让我们的动画保持最后一帧的状态不循环*/*/
}
.card-05{
	position: absolute;
	left: 20%;
	bottom: 200px;
	z-index: 10;
}
.order-05{
	position: absolute;
	left: 27%;
	bottom: 270px;
	/*z-index: -1;*/
}
.t1f-05{
	position: absolute;
	bottom:800px; 
	left:25%;
	display: none;
}
.mouse{
	position: absolute;
	right: 20%;
	bottom: 200px;
}
.mouse-05-a{
	display: none;
	/*opacity: 0;*/
}
.hand-05{
	position: absolute;
	right: 24%;
	bottom: -375px;
}
/*切掉鼠标的小尾巴*/
.overFlow{
	position: absolute;
	top: 0;/*图片都有定位，小图片是基于屏幕的定位，所以为了不改变小图片原先的定位要保持overFlow在相应的00位置*/
	bottom: 0;
	height: 100%;
	width:100%;
	overflow: hidden;
}
/*第五屏幕制作 end*/

/*第六屏幕制作 start*/
.section6{
    background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;
}
.box-06{
	position: absolute;
	left: 123px;
	bottom: 500px;
	z-index: 50;
}
.car-06{
	position: absolute;
	bottom: 0;
	right: 50%;
	z-index: 60;
}
.cloud-06{
	position: absolute;
	left: 50%;
	bottom: 500px;
    animation: cloud6 30s;
}
.cloud-06-a{
	position: absolute;
	left: 20%;
	bottom:540px;
	opacity: 0.7;
	animation: clouda 32s;
}
.pop-06{
	position: absolute;
	bottom:119px;
	right:48%;
	display: none; 
	z-index: 50;
}
.boy{
	position: absolute;
	right: 50%;
	bottom: 0;
	height: 100px;
}
.girl{
	position: absolute;
	right: 315px;
	height: 123px;
	display: none;
	z-index: 4;
}
.door{
	position: absolute;
	right: 285px;
	bottom: 116px;
	/*display: none;*/
	opacity: 0;
}
.pop-07{
	position: absolute;
	right: 445px;
	bottom: 400px;
	display: none;
}
.words-06-a{
	position: absolute;
	left: 10%;
	bottom: 479px;
	display: none;
}
/*第七屏幕制作 start*/
.section7{
    background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;
}
.star{
	position: absolute;
	left: 50%;
	bottom: 439px;
	margin-left: -295px;
	width: 0;
	height: 20px;
	background: url(../images/star.png) no-repeat;
	background-size: 97px;
}
.goods-07{
	position: absolute;
	bottom: 382px;
	left: 50%;
	margin-left: -289px;
	display: none;
}
/*第七屏幕制作 end*/

/*第八屏幕制作 start*/
.section8{
	background: url(../images/ksgw.png);
}
.beginShoping{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom: 365px;
}
.btn-08-a{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.again{
	position: absolute;
	bottom:403px;
	left: 50%;
	margin-left: 240px;
	cursor: pointer;
}
.hand-08{
	position: absolute;
	bottom: 0;
	left: 50%;
}
/*第八屏幕制作 end*/
/*直接进入购物*/
.go{
position: fixed;
top: 5%;
right: 5%;
z-index: 999;
}
/*动画组*/
.next-updown{
animation:next .6s linear infinite; 	
}
@keyframes next{
	/*类似于js的声明函数function*/
50%{
	bottom: 100px;
}
100%{
	bottom: 120px;
}
}
.updown{/*类似于js 调用函数*/
animation:fly 3s linear infinite; /*动画名称 动画时间 动画曲线 何时开始linear匀速*/
}
.shirt-updown{
animation:shirt01 2.5s linear infinite; 
}
@keyframes fly{
	/*类似于js的声明函数function*/
0%{
	top:10%;
}
50%{
	top: 20%;
}
100%{
	top:10%;
}
}
@keyframes shirt01{
	/*类似于js的声明函数function*/
	50%{
		bottom: 360px;
	}
	100%{
		bottom: 335px;
	}
}
/*云彩第一组*/
.cloud-back1{
animation:cloud 60s linear infinite;
}
@keyframes cloud{
/*	0%{
		left: 50%;
	}*/
	50%{
		left: -10%;
	}
	100%{
		left: 50%;
	}
}
@keyframes words5{
	100%{
		transform:translateZ(100px)  rotateY(360deg);/*沿着y轴翻转*/
		opacity: 1;
	}
}
/*第六屏云彩漂浮动画*/
@keyframes cloud6{
	50%{
      left: 10%;
	}
	100%{
		left: 50%;
	}
}
@keyframes clouda{
	50%{
		left: 30%;
	}
	100%{
		left: 20%;
	}

}
